@import 'variables';
@import 'bootstrap-navbar';
@import url(https://fonts.googleapis.com/css?family=Oswald|Raleway);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
  font-family: 'Raleway', sans-serif;
}

.header-spacing {
  height: 50px;
}

.brand-title {
  float: right;
  font-family: 'Oswald', sans-serif;
  color: $light-blue;
  margin-top: 28px;
}

.top-menu .navbar-brand {
  width: 5.5em;
  padding: 6px 15px;
}

.big-logo {
  margin: 30px 30px;
  width: 35%;
}

.about h3 {
  text-align: center;
  margin: 2em;
}

.home {
  text-align: center;
}

.image-container {
  width: 80%;
  max-width: 400px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}

.form-line {
  margin-top: 15px;
  .label-form {
    text-align: right;
    width: 100%;
  }
  .input-form {
    width: 80%;
  }
}


// client

.title {
  margin: 1em 0;
}

.client-item {
  background-color: #FFECCE;
  border-radius: 1em;
  cursor: pointer;

  .client-name {
    background-color: #CFF1F6;
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .open-letters {
    padding: 1em;
  }

  .topic {
    margin: 1em;
  }
}

.letters {
  padding: 0;

  .panel {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .panel-body {
    padding: 0;
  }

  .letter-item {
    border: 0.5px solid #8D8D8D;
    border-radius: 15px;
    margin: 0;
  }
}

// status

.status {
  height: 20px;
  width: 20px;
  margin: 1em;
  border-radius: 10px;
}

.green {
  background-color: #438960;
}

.red {
  background-color: #FF7474;
}

.yellow {
  background-color: #FBBE37;
}

.greenplus {
  height: 20px;
  display: inline-block;
  margin-left: 15px;
}
.addletter {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 30px;
}
.homepagebutton, .login-btn {
  height: 44px;
    color: grey;
    font-size: 1.1em;
    background-color: #ffecce;
    border: none;
    margin: 1em;
}

.login-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.login-input {
  border: none;
  background-color: $light-blue;
  height: 26px;
  margin: 5px 5px;
  padding: 1em;
  width: 100%;
}

.btn-default:hover {
  background-color: $light-blue;
}
