@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
}

.about h3 {
  text-align: center;
  margin: 2em;
}

.home {
  text-align: center;
}

.image-container {
  width: 80%;
  max-width: 400px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}


// client

.client-item {
  background-color: #FFEDD0;
  border-radius: 1em;
  border: 2px solid #549EDA;

  .client-name {
    background-color: #CFF1F6;
    padding: 2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .status {
    height: 20px;
    width: 20px;
    margin: 2em;
    border-radius: 10px;
  }

  .open-letters {
    padding: 2em;
  }
}


// status


.green {
  background-color: #438960;
}

.red {
  background-color: #FF7474;
}

.yellow {
  background-color: #FBBE37;
}
